/* Additional Default Styles for Responsive */


/* Hamburger Menu Begin*/

html {
 box-sizing: border-box;
}

#skip-to-content {
  padding: 1em;
  position: absolute;
  top: -40px;
  left: 1em;
  z-index: 1000;
  color: white;
}

#skip-to-content:focus {
  position: absolute;
  top: 0;
  background: #4593ff;
}



footer {
   padding: 2em 2em;
   margin: 0 auto;
   text-align: center;
   background-color: #71cad2;
   color: white;
   text-decoration: none;
   margin-bottom: 1em;
   display: block;
   text-align: center;
 }
 .footer-nav {
   display: flex;
 }
 footer a {
   color: white;
text-decoration: none;
list-style-type: none;
justify-content: space-between;
display: flex;
 }


 .rooms {
   padding: 2em;
   width: 90%;
   color: white;
text-decoration: none;
list-style-type: none;

   margin-bottom: 1em;
 }
 .about {
   padding: 2em;
   width: 90%;

   margin-bottom: 1em;
 }
 .guestbook {
   padding: 2em;
   width: 90%;

   margin-bottom: 1em;
 }
 .reservations {
   padding: 2em;
   width: 90%;

   margin-bottom: 1em;
 }
 .contact {
   padding: 2em;
   width: 90%;

   margin-bottom: 1em;
 }
 .rooms,
 .about,
 .guestbook,
 .reservations,
 .contact {
   display: flex;
   justify-content: space-between;
 }
 .list {
   display: block;
   list-style-type: none;
   text-align: left;
   line-height: normal;
   font-size: .7em;
 }
/*Hamburger Responsive Nav Styling*/

a.menu-link {
 float: right;
 display: block;
 padding: 1em;
 width: 125px;
}


/* Adds Code for Pure CSS Hamburger Button */

.menu-link__hamburger {
 margin: 0 auto;
 text-align: center;
 width: 33px;
 float: left;
 transform: translate(0, 0);
 transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

.menu-link__label {
 float: left;
 padding-left: .75em;
}

a.menu-link span {
 display: block;
 height: 5px;
 margin-bottom: 5px;
 position: relative;
 background: #cdcdcd;
 border-radius: 3px;
 /* Adjust the rounding of the hamburger here */
 z-index: 1;
 transform-origin: 4px 0px;
 transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}

a.menu-link span:first-child {
 transform-origin: 0% 0%;
}

a.menu-link span:nth-child(3) {
 transform-origin: 0% 100%;
}

.menu-link.active .menu-link__hamburger {
 transform: translate(10px, 0);
}

.menu-link.active span {
 opacity: 1;
 background: black;
 transform: rotate(45deg) translate(-2px, -1px);
}

.menu-link.active span:nth-child(2) {
 opacity: 0;
 transform: rotate(0deg) scale(0.2, 0.2);
}

.menu-link.active span:nth-child(3) {
 opacity: 1;
 transform: rotate(-45deg) translate(0, -1px);
}

nav[role=navigation] {
 clear: both;
 -webkit-transition: all 0.3s ease-out;
 -moz-transition: all 0.3s ease-out;
 -ms-transition: all 0.3s ease-out;
 -o-transition: all 0.3s ease-out;
 transition: all 0.3s ease-out;
}

.js nav[role=navigation] {
 overflow: hidden;
 max-height: 0;
}

nav[role=navigation].active {
 max-height: 15em;
}

nav[role=navigation] ul {
 margin: 0;
 padding: 0;
}

nav[role=navigation] li a {
 display: block;
 padding: 0.8em;
}

@media screen and (min-width: 800px) {
 a.menu-link {
   display: none;
 }
 .js nav[role=navigation] {
   max-height: none;
 }
 nav[role=navigation] ul {
   margin: 0 0 0 -0.25em;
   border: 0;
 }
 nav[role=navigation] li {
   display: inline-block;
   margin: 0 0.25em;
 }
 nav[role=navigation] li a {
   border: 0;
   color: white;
 }
}


/*End Hamburger Responsive Nav Styling*/


/*Modal Buttons*/

*
 *,
 *::before,
 *::after {
   box-sizing: inherit;
 }
 img,
 object,
 video,
 iframe {
   max-width: 100%;
   height: auto;
   -ms-interpolation-mode: bicubic;
   display: inline-block;
   vertical-align: middle;
  /* margin-top: 40px;*/
   align-content: center;
 }
 * {
   box-sizing: border-box;
 }
 main img {
   align-content: center;
   display: flex;
   width: 500px;
 }
 html,
 body {
   width: 100%;
 }
 .btn {
   padding: 1rem;
   background: #f0592d;
   color: #FFF;
   margin: 2rem;
   display: inline-block;
 }
 /* This is the translucent area that covers the screen when the modal is active */
 .overlay {
   background: rgba(0, 0, 0, .5);
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
 }
 .modal {
   visibility: hidden;
 }
 /* Styling for the modal box itself.  Mins, max and top values can be changed to suit your needs.  You can also vertically center by setting top and bottom to 0 and adding a set height.  However, this doesn't allow for flexible height content. */
 .modal__contents {
   background: white;
   min-width: 32rem;
   max-width: 80%;
   min-height: 30vh;
   top: 15%;
   margin: auto;
   position: absolute;
   left: 0;
   right: 0;
   padding: 2rem;
 }
 /* Close Icon for Modal */
 .modal__close {
   position: absolute;
   right: 0;
   top: 0;
   text-decoration: none;
   display: block;
   font-size: 2rem;
   color: black;
   padding: 1rem 2rem;
 }
 .modal--show {
   visibility: visible;
 }
 .modal--transition {
   -webkit-transform: scale(0.7);
   -moz-transform: scale(0.7);
   -ms-transform: scale(0.7);
   transform: scale(0.7);
   opacity: 0;
   -webkit-transition: all 0.3s;
   -moz-transition: all 0.3s;
   transition: all 0.3s;
 }
 .modal--show .modal--transition {
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
   opacity: 1;
 }
 /* Desktop first media queries are overwritten here to allow the modal to take up the entire screen when the screen reaches a smaller width */
 @media (max-width: 48rem) {
   .modal__contents {
     top: 0;
     left: 0;
     bottom: 0;
     width: 100%;
     margin: 0;
     min-width: inherit;
     max-height: inherit;
     max-width: inherit;
   }
   .modal--transition {
     -webkit-transform: translateX(-0) translateY(150%);
     -moz-transform: translateX(-0) translateY(150%);
     -ms-transform: translateX(-0) translateY(150%);
     transform: translateX(-0) translateY(150%);
   }
 }
 /*! normalize.css v4.0.0 | MIT License | github.com/necolas/normalize.css */
 /**
* 1. Change the default font family in all browsers (opinionated).
* 2. Prevent adjustments of font size after orientation changes in IE and iOS.
*/
 html {
   font-family: "Muli", sans-serif;
   /* 1 */
   -ms-text-size-adjust: 100%;
   /* 2 */
   -webkit-text-size-adjust: 100%;
   /* 2 */
 }
 html,
 body {
   width: 100%;
   margin: 0;
 }

 /* HTML5 display definitions

  ========================================================================== */
 /**
* Add the correct display in IE 9-.
* 1. Add the correct display in Edge, IE, and Firefox.
* 2. Add the correct display in IE.
*/
 article,
 aside,
 details,
 /* 1 */
 figcaption,
 figure,
 footer,
 header,
 main,
 /* 2 */
 menu,
 nav,
 section,
 summary {
   /* 1 */
   display: block;
 }

 /*End Modal Button Style*/

 /* If you're using images in your slider, add this CSS to ensure they take up 100% of the available area */

 .carousel-cell {
     width: 100%;
     padding-top: 1em;
 }

 .carousel-cell img {
     width: 100%;
     height: auto;
 }

 /* Ensures that Flickity waits until CSS has loaded to calculate the height of the cells */
 .carousel:after {
   content: 'flickity';
   display: none; /* hide :after */
 }
 body {
   margin: 0;
 }
 /* Footer Styling*/
 footer {
   padding: 2em 2em;
   margin: 0 auto;
   text-align: center;
   background-color: #71cad2;
   color: white;
   text-decoration: none;
   margin-bottom: 1em;
   display: flex;
   text-align: center;
list-style-type: none;

 }
 footer ul {
   padding: 0;
   width: 20%;
   min-width: 100%;
 }
 .footer-nav {
   display: flex;
 }
 .rooms {
   padding: 2em;
   width: 90%;

   margin-bottom: 1em;
 }
 .about {
   padding: 2em;
   width: 90%;

   margin-bottom: 1em;
 }
 .guestbook {
   padding: 2em;
   width: 90%;

   margin-bottom: 1em;
 }
 .reservations {
   padding: 2em;
   width: 90%;

   margin-bottom: 1em;
 }
 .contact {
   padding: 2em;
   width: 90%;

   margin-bottom: 1em;
 }
 .rooms,
 .about,
 .guestbook,
 .reservations,
 .contact {
   display: flex;
   justify-content: space-between;
 }
 .list {
   display: block;
   list-style-type: none;
   text-align: left;
   line-height: normal;
 }
 /*End Footer Styling*/

 main {
   margin-left: 2em;
   margin: 0 15% 0 15%;
 }

 .logo {
  width: 110px;
  margin: 1.5em;
  margin-right: 300px;
 }

.kayak {
  width: 500px;

  display: flex;
  margin-left: auto;
  padding-top: 3em;
}
.strong {
  width: 500px;

  display: flex;
  margin-left: auto;
  padding-bottom: 3em;
}


 nav {
   background-color: #71cad2;
   color: white;
   text-decoration: none;
   display; flex;
 }

 nav ul {
   margin-left: auto;
   list-style-type: none;
   padding: 2em;
   /*background-color: rgb(113, 202, 210);*/
   /*justify-content: space-around;*/
   text-transform: uppercase;
   font-style: bold;
   display: inline-flex;
 }


 nav a {
   color: white;
   text-decoration: none;
   margin-bottom: 1em;
   display: inline-block;
   text-align: center;
   font-style: bold;
 }

 nav li:hover {
   text-decoration: underline;
   font-weight: bolder;
 }

 h1 {
   font-size: 2em;
   color: #f0592d;
   text-align: center;
   padding-top: 1em;
 }

 h2 {
   font-size: 1.2em;
   color: #71cad2;
   text-align: center;
   padding-bottom: .7em;
 }

 h3 {
   font-size: 1.5em;
   color: #f0592d;
   text-transform: uppercase;
   padding: 1em 0 1em 0;
   margin-left: 2em;
   font-weight: bold;
 }

 h4 {
   font-size: 1.2em;
   color: #08b1a9;
   text-transform: uppercase;
   font-weight: regular;
   margin-left: 2em;
 }

 p {

   max-width: 990px;
   font-size: .9em;
   line-height: 1.6;
 }

 .info {
   text-decoration: none;
   list-style-type: none;
   font-size: 1.2em;
   line-height: 2em;
   justify-content: space-between;
   display: inline-block;
}

.package {
border-bottom: 1.2px solid #71cad2;
}

 .sweet, .tree, .enchantment, .safari {
   background-color: #f2f9f9;
 padding: 1em;
 margin-bottom: 2 em;
 }

 .sweet {
   margin-top: 3em;
   display: flex;
 }
 .sweetpic {

   max-width: 100%;
 }
 .sweet_info {
}

/*Pattern Library*/

.pathead {
  border-top: none;
  text-align: center;
  font-size: 1.5em;
  font-weight: bolder;
}

.muli {
  text-align: center;
}
.colors {
  display: flex;
  justify-content: space-between;
  border-top: none;
}

.details {
  display: flex;
  justify-content: space-around;
}
.headers {
  margin-left: 0;
  text-align: center;
}

.tart {
  padding: 45px;
  background-color: #f16735;
  border-radius: 10px;
  border: none;
}

.sunset {
  padding: 45px;
  border-radius: 10px;
  background-color: #f0592d;
  border: none;
}

.trop {
  padding: 45px;
  border-radius: 10px;
  background-color: #08b1a9;
  border: none;
}

.rain {
  padding: 45px;
  border-radius: 10px;
  background-color: #71cad2;
  border-top: none;
}

.acorn {
  padding: 45px;
  border-radius: 10px;
  background-color: #61594d;
  border: none;
}

/* Guestbook*/
 .guest1, .guest2, .guest3, .guest4, .guest5 {
  background-color: rgba(113, 202, 210, 0.2);
  border-radius: 10px;
  padding: 1.5em;
  margin: 2em 0 0 0;

}

h6 {
  padding-bottom: 10px;
  border-bottom: 2px dotted rgba(240, 89, 45, 0.5);
  margin-right: 20px;
}

h5 {
  border-top: 3px solid rgba(240, 89, 45, 0.6);
  padding-top: 15px;
  margin-right: 20px
}

.from {
  font-style: italic;
  font-size: .6em;
}

.row1 {
  display: flex;
}

.guest1 {
  width: 380px;
  margin-right: 40px;
}

.guest2 {
  width: 380px;
  margin-right: 40px;
}

.guest3 {
  width: 380px;
  margin-right: 40px;
}

.row2 {
  display: flex;
  margin-bottom: 5em;
}

.guest4 {
  width: 380px;
  margin-right: 40px;
}

.guest5 {
  width: 380px;
  margin-right: 40px;
}

.visit {
  width: 380px;
  margin-right: 40px;
  margin-left: 2em;
}

.how {
  margin-left: 0;
}
.create {
  background-color: #f0592d;
  color: white;
  padding: 14px;
  border-radius: 7px;
  width: 130px;
  text-decoration: underline;
}

@media screen and (max-width: 1100px) {

  .row1, .row2 {
    flex-direction: column;
    width: 145%;
  }

  .guest1 {
    width: 70%;
  }

  .guest2 {
    width: 70%;
  }

  .guest3 {
    width: 70%;
  }

  .guest4 {
    width: 70%;
  }

  .guest5 {
    width: 70%;
  }

  .visit {
    width: 70%;
  }

  .logo {
   width: 90px;
   margin: 1em;
   margin-right: 150px;
  }

}
@media screen and (max-width: 870px) {
  footer {
    font-size: .5em;
  }

  .kayak, .strong {
    width: 350px;
    margin: 1.2em;


  .logo {
   width: 60px;
   margin: ,8em;
   margin-right: 70px;

  }
}
@media screen and (max-width: 600px) {
   .main-menu {
     display: inline;
     margin-top: 2em;
     position: relative;
   }
   /*nav {
     align: right;
   }*/

   .logo {
     display: none;
   }

.kayak, .strong {
  width: 200px;
  margin: 1.2em;
}


   nav ul {
     display: flex;
     flex-direction: column;  }


   h1 {
     font-size: 1.7em;
     padding: 6px;
   }
   h2 {
     font-size: 1.3em;
   }
   h3 {
     font-size: 1em;
   }
   h4 {
     font-size: .7em;
   }
   .safari, .enchantment, .tree {
     font-size: .5em;
   }

   nav li {
     padding: 1em 1em 0 0;
   }
   nav li:hover {
     text-decoration: underline;
     font-weight: bolder;
   }

  footer {
    display: none;
  }

  .row1, .row2 {
    flex-direction: column;
  }
}
