/* Additional Default Styles for Responsive */
/* Hamburger Menu Begin*/
html {
  box-sizing: border-box;
}

a.menu-link {
        float: right;
            display: block;
            padding: 1em;
            width: 125px;
        }

/* Adds Code for Pure CSS Hamburger Button */

.menu-link__hamburger {
    margin: 0 auto;
    text-align: center;
    width: 33px;
    float: left;
    transform: translate(0,0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.menu-link__label {
    float: left;
    padding-left: .75em;
}

a.menu-link span {
  display: block;
  height: 5px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px; /* Adjust the rounding of the hamburger here */
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

a.menu-link span:first-child {
  transform-origin: 0% 0%;
}


a.menu-link span:nth-child(3) {
  transform-origin: 0% 100%;
}

.menu-link.active .menu-link__hamburger {
    transform: translate(10px, 0);
}

.menu-link.active span {
  opacity: 1;
    background: black;
  transform: rotate(45deg) translate(-2px, -1px);
}

.menu-link.active span:nth-child(2) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.menu-link.active span:nth-child(3){
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

nav[role=navigation] {
            clear: both;
            -webkit-transition: all 0.3s ease-out;
            -moz-transition: all 0.3s ease-out;
            -ms-transition: all 0.3s ease-out;
            -o-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
        }
        .js nav[role=navigation] {
            overflow: hidden;
            max-height: 0;
        }
        nav[role=navigation].active {
            max-height: 15em;
        }
        nav[role=navigation] ul {
            margin: 0;
            padding: 0;
          /*  border-top: 1px solid #808080;*/
        }
        nav[role=navigation] li a {
            display: block;
            padding: 0.8em;
            /*border-bottom: 1px solid #808080;*/
        }

        @media screen and (min-width:800px) {
            a.menu-link {
               display: none;
            }
            .js nav[role=navigation] {
                max-height: none;
            }
            nav[role=navigation] ul {
                margin: 0 0 0 -0.25em;
                border: 0;
            }

            nav[role=navigation]  li {
                display: inline-block;
                margin: 0 0.25em;
            }
            nav[role=navigation] li a {
                border: 0;
            }
        }

*,
*::before,
*::after {
  box-sizing: inherit; }

img, object, video, iframe {
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
  display: inline-block;
  vertical-align: middle;
}


/*! normalize.css v4.0.0 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */

html {
  font-family: "Muli", sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
}
footer {
 padding:2em 2em;
 margin: 0 auto;
 text-align: center;
 background-color:  #71cad2;
 color: white;
 text-decoration: none;
 margin-bottom: 1em;
 display: inline-block;
 text-align:  center;
}
/* HTML5 display definitions
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */

article,
aside,
details, /* 1 */
figcaption,
figure,
footer,
header,
main, /* 2 */
menu,
nav,
section,
summary { /* 1 */
  display: block;
}

/**
 * Add the correct display in IE 9-.
 */

audio,
canvas,
progress,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */

template, /* 1 */
[hidden] {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */

a:active,
a:hover {
  outline-width: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct margin in IE 8.
 */

figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/* Forms
   ========================================================================== */

/**
 * Change font properties to `inherit` in all browsers (opinionated).
 */

button,
input,
select,
textarea {
  font: inherit;
}

/**
 * Restore the font weight unset by the previous rule.
 */

optgroup {
  font-weight: bold;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 * 2. Show the overflow in Edge, Firefox, and IE.
 */

button,
input, /* 1 */
select { /* 2 */
  overflow: visible;
}

/**
 * Remove the margin in Safari.
 * 1. Remove the margin in Firefox and Safari.
 */

button,
input,
select,
textarea { /* 1 */
  margin: 0;
}

/**
 * Remove the inheritence of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritence of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Change the cursor in all browsers (opinionated).
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
}

/**
 * Restore the default cursor to disabled elements unset by the previous rule.
 */

[disabled] {
  cursor: default;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
input:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the odd appearance of search inputs in Chrome and Safari.
 */

[type="search"] {
  -webkit-appearance: textfield;
}

/**
 * Remove the inner padding and cancel buttons in Chrome on OS X and
 * Safari on OS X.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

main {
  margin-left: 2em;
  margin: 0 10% 0 10%
}

nav {
   margin: 1em;
   text-align: center;
   background-color: #71cad2;
  }

nav ul {
  list-style-type: none;
  padding: 2em;
  /*background-color: rgb(113, 202, 210);*/
  /*justify-content: space-around;*/
  text-transform: uppercase;
  font-style: bold;
}

nav a {
  color: white;
  text-decoration: none;
  margin-bottom: 1em;
  display: inline-block;
  text-align: center;
  font-style: bold;
}

.logo {
  max-width: 50px;
  width: 150px;
  margin-top: 1em;
  margin-right: 5em;
  margin-left: 5em;
  position: absolute;
}

h1 {
  font-size: 2em;
  color: #f0592d;
  text-align: center;
  padding-top: 1em;
}

h2 {
  font-size: 1.2em;
  color: #71cad2;
  text-align: center;
  padding-bottom: .7em;
}

h3 {
  text-size: 1.5em;
  color: #f0592d;
  text-transform: uppercase;
  padding: 1em 0 1em 0;
  font-weight: bold;
}

h4 {
  text-size: 3em;
  color: #08b1a9;
  text-transform: uppercase;
  font-weight: lighter;
}

p {
  max-width: 990px;
}

@media screen and (max-width: 600px) {
  .main-menu {
    display: inline;
    margin-top: 2em;
    position: relative;
  }
  nav {
    align: right;
  }

  .logo {
  width: 20px;
  padding: 10px 0 0 10px;
  margin: 15px;
}

  h1 {
     font-size: 1.7em;
     padding: 6px;
   }
  h2 {
    font-size: 1.3em;
  }
  h3 {
    font-size: 1em;
  }
  }
}

nav li {
  padding: 1em 1em 0 0;
  hover:
}
